body{
    text-align: center;
    background-image: url(../images/haikei.png);
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
}

.banner-rift-rooms {
    display: block;
    max-width: 400px;
    width: 100%;
    margin: 0 auto
}
.banner-rift-rooms img {
    width: 100%;
}
.banner-BlitzWars {
    display: block;
    max-width: 400px;
    width: 100%;
    margin: 0 auto
}
.banner-BlitzWars img {
    width: 100%;
}
.credit{
    background-color: antiquewhite;
    font-size: 30px;
    font-style: oblique;
}

.blog{
    text-align: none;
}
